code/server/node_modules
code/server/pyscripts/liveness_scripts/__pycache__
code/server/package-lock.json
code/server/test.js
code/face_encodings/*
!code/face_encodings/.gitkeep
!code/client/.gitkeep

user_images/attendance/*
user_images/captures/*
user_images/deletes/*
user_images/temp/*
user_images/uploads/*

!user_images/attendance/.gitkeep
!user_images/captures/.gitkeep
!user_images/deletes/.gitkeep
!user_images/temp/.gitkeep
!user_images/uploads/.gitkeep

user_images/attendance/.DS_Store
user_images/captures/.DS_Store
user_images/deletes/.DS_Store
user_images/temp/.DS_Store
user_images/uploads/.DS_Store
log_files/.DS_Store
code/client/.DS_Store
code/face_encodings/.DS_Store
code/server/.DS_Store
code/server/pyscripts/.DS_Store
code/server/pyscripts/liveness_scripts/.DS_Store
code/.DS_Store
.DS_Store


